.dispnotes {
    display: grid;
    max-height: 90%;
    width: 78%;
    
    grid-template-columns: 1fr 1fr;
    overflow-y: auto;
}

.note {
    width: 30vw;
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 1vh;
    margin-left: 8%;
    
    padding: 2%;
    background-color: #0a09092d;
    border-radius: 1vh;
}